// Variables as Dashboard
$cl-blue-1: #3A384A;
$cl-blue-2: #49475D;
$cl-blue-3: #5A577A;
$cl-blue-4: #62BBF6;
$cl-gray-1: #F3F0FA;
$cl-gray-2: #FBF9FE;


.bg-blue-1 {
   background-color: $cl-blue-1;
}
.bg-blue-2 {
    background-color: $cl-blue-2;
}
.bg-blue-3 {
    background-color: $cl-blue-3;
}
.bg-blue-4 {
    background-color:$cl-blue-4;
}
.bg-gray-1 {
    background-color: $cl-gray-1;
}
.bg-gray-2 {
    background-color: $cl-gray-2;
}
.cl-gray-2 {
    color: $cl-gray-2;
}
.bg-green-1{
    background-color: #42C2B2;
}
.br-red-1{
    background-color: #FF7E7F;
}
.bg-orange-1{
    background-color: #FFB98C;
}
.bg-brown-1{
    background-color: #4D424F;
}
